.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.navbar .nav-top {
  flex: 3;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.middle {
  flex: 1;
  text-align: center;
  padding-top: 6px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
 
}
.left {
  flex: 1;
  padding: 10px;
}
.right {
  flex: 1;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
}
.contact {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.nav-bottom {
  flex: 2;
  background-color: hsl(24, 90%, 57%);
  padding: 10px 0px
}

.navbar .nav-bottom button  {
  cursor: pointer;
  background-color: blue;
  color: white;
  border: none;
}
.navbar .nav-bottom svg {
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
 .navbar .nav-bottom a {
  display: none;
 }
 .navbar .nav-bottom {
  justify-content: flex-end;
  padding-right: 50px;
 }
 .navbar .nav-bottom button {
  display: inherit;
 }
}
@media only screen and (min-width: 600px){
  .navbar .nav-bottom button {
    display: none;
  }
  .hiddenLinks {
    display: none;
  }
}
.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}
.link:hover {
  color: rgb(99, 95, 95);
  padding: 8px 15px;
  border-radius: 98px;

}
.search-bar {
  display: flex;
  width: 10px;
  align-items: center;
  gap: 5px;
  width: 200px;


}
.search-bar input {
  padding: 5px;
  border: 1px soild-black;
  border-radius: 3px;
  padding: 5px;
}
.search-bar button {
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  background-color: hsl(24, 90%, 57%) ;
}
.search-bar button:hover {
  background-color: hsl(0, 0%, 4%);

}
