.whatsappButton {
    position: fixed;
    z-index: 1000;
    right: 30px;
    bottom: 20px;
}
.myimage {
    width: 35px;
    height: 35px;
}
.anchorr {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color:#25D366 ;
    border-radius: 50%;
    box-shadow:   "0 4px 8px rgba(0,0,0,0.2)";
}